<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			
		<title>RSS Reader</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
	</head>
	<body>
		
		<!-- Index -->
		<div data-role="page" id="index">
			<div data-role="header" data-position="fixed">
				<h1>RSS Reader</h1>
			</div>
			
			<div data-role="content">
				<ul data-role="listview" data-inset="true" data-filter="false">
				    <li><a href="#summary" data-rss-feed-url="http://www.supinfo.com/fr/LatestNews.aspx">SUPINFO</a></li>
				    <li><a href="#summary" data-rss-feed-url="http://labo-java.net/feed/">Labo Java</a></li>
				    <li><a href="#summary" data-rss-feed-url="http://www.lab-sl3.org/feeds/all.rss.xml">Labo Low Level</a></li>
				</ul>
			</div>
			
			<div data-role="footer" data-position="fixed">
				<h4>Released under WTFPL !</h4>
			</div>
		</div>
		
		<!-- Summary -->
		<div data-role="page" id="summary" data-add-back-btn="true">
			<div data-role="header" data-position="fixed">
				<h1></h1>
			</div>
			
			<div data-role="content">
				<ul data-role="listview" data-inset="true" data-filter="true" id="rss-feed-list-view">
				</ul>
			</div>
			
			<div data-role="footer" data-position="fixed">
				<h4>Released under WTFPL !</h4>
			</div>
		</div>
		
		<script type="text/javascript" src="/assets/js/client.js"></script>
	</body>
</html>