body 				{ margin: 0; }
#content 	 		{ width: 900px; margin: auto; }
h1 					{ text-align: center; }
section 			{ border-radius: 15px; background-color: #eee; padding: 10px; float: left; width: 420px; min-height: 200px; }
section.active 		{ background-color: #8eec92; }
#tweets			 	{ margin-right: 10px; }
article 			{ border-radius: 15px; background-color: #a8d8e6; padding: 10px; margin: 5px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	body 			{ font-size: 1.4em; }
	#favourites 	{ display: none; }
	#content 		{ width: 100%; padding: 0; }
	#content h1 	{ font-size: 1.7em; }
	#content section h1 { display: none; }
	#tweets 		{ margin: 0; width: 100%; padding: 0; border-radius: 0; }
	article 		{ margin: 5px 0; border-radius: 0; }

}